$black: #0E0E0E;
$white: #FFF;
$grey: #616161;

$red: #FD2C27;
$purple-black: #2B2D42;

$gradient-yellow: #FFDC2C;
$gradient-red: #FD2C27;

$gradient-grey: #676767;
$gradient-black: #000;

$header-grey: #b7b7b7;
$search-box-color: #f2f2f2;
$back-icon-color: #ababab;
$nav-link-color: #a8a8a8;

$footer-title: #575757;
$footer-content: #919191;
$footer-bg: #EAEAEA;
